body{

font-family:system-ui;
background:#0f172a;
color:white;
margin:0;
text-align:center;

}

header{

background:#1e293b;
padding:20px;

}

nav button{

margin:5px;
padding:10px 15px;
border:none;
background:#22c55e;
color:white;
border-radius:8px;

}

section{

display:none;
padding:20px;

}

table{

width:100%;
border-collapse:collapse;

}

th,td{

padding:10px;
border-bottom:1px solid #334155;

}
